#Expensescards{
    display: flex;
    flex-direction: row;
    gap: 150px;
    
}
#row-Expensescard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#Expensescard-details{

    display: flex;
    flex-direction: column;
}