.addbutton{
    background-color: #8644DB ;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    color: white;
    font-size: 15px;

}
.Minor-expense-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
.Firstrow-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}
.Bargraph-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.total-incomes{
    justify-self: flex-end;
}

.Secondrow-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.expensescards-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 30px;
}
