.addbutton{
    background-color: #8644DB ;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    color: white;
    font-size: 15px;

}
/* 
.incomes-main-div h1{
    font-family: 'Lufga', sans-serif;
    font-weight: 500;
    letter-spacing: -.0625rem;
    font-size: 30px;
    color: #000000; 
    margin-left: 346px;
    margin-top: 28px;
} */

@font-face {
    font-family: 'Lufga';
    src: url(./Fonts/LufgaBold.ttf);
    font-weight: bold;
    font-style: bold;
}

/* .incomes-main-div p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05rem;
    font-size: 16px;
    color: #333; 
    margin-left: 346px;
} */

.Minor-expense-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}
.Firstrow-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}
.Bargraph-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.total-incomes{
    justify-self: flex-end;
}

.Secondrow-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}
.minor-expense-scroll-container{
    overflow-y: scroll;
    height: 300px;
}

.expensescards-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 30px;
}

.incomes-container h1{
    
}
