.firstview-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 100vh;
  margin-left: 350px;
}

.title-firstview {
  font-family: 'Lufga', sans-serif;
  font-weight: 500;
  letter-spacing: -.0625rem;
  font-size: 30px;
  font-weight: semibold;
  line-height: 1.08;
  color: #1F1E30;
  margin-bottom: 8px;
  width: 241px;
}

.highlight {
  color: #8644DB;
}

.subtitle-firstview {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #6F6F6F;
  margin-bottom: 20px;
  max-width: 400px; 
}

.img-savings-firstview {
  width: 210px;
  margin-bottom: 20px;
}


.create-goal-button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #8644DB;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

.create-goal-button:hover {
  background-color: #702BBE;
}

.footer-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #6F6F6F;
  margin-top: 20px;
  font-weight: 200
}

@media (max-width: 430px) {
  .firstview-container {
    margin-left: 0;
  }

  .title-firstview {
    font-size: 24px; /* Reduce el tamaño del título */
    margin-bottom: 10px;
  }

  .subtitle-firstview {
    font-size: 13px; /* Reduce el tamaño del texto de subtítulo */
    margin-bottom: 16px;
  }

  .img-savings-firstview {
    max-width: 180px; /* Imagen más pequeña en móviles */
  }

  .create-goal-button {
    font-size: 13px; /* Botón ligeramente más compacto */
    height: 40px;
    padding: 8px;
  }

  .footer-text {
    font-size: 11px; /* Texto del pie más pequeño */
    margin-top: 16px;
  }
}
