.container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Opcional: para centrar los elementos horizontalmente */
    gap: 16px; /* Opcional: para dar un espacio entre los elementos */
  }
  
  .welcome-user {
    font-size: 24px; /* Ajusta el tamaño del texto */
    color: #333; /* Cambia el color del texto si lo deseas */
    text-align: center; /* Centra el texto */
  }
  