@font-face {
    font-family: 'Lufga';
    src: url(./Fonts/LufgaBold.ttf);
    font-weight: bold;
    font-style: bold;
}

.dashboard-content{
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
}

.dash-progress-charts{
    display: flex;
    gap: 23px;
}

.info-section{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
