.minor-expense {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5; 
    width: 590px;
}

.CircleImage1{
    width: 41px;
    height: 41px;
    max-width: 41px;
    margin-right: 10px;
}


.minor-expense img {
    width: 41px;
    height: 41px;
    background-color: orange;
    border-radius: 50%;
    margin-left: 15px;
    
}

.minor-expense .details {
    flex-grow: 1;

}

.minor-expense .details h2 {
    font-weight: bold;
    font-size: 13px; /* Tamaño de fuente para Expensetype */
    margin: 0;
}

.minor-expense .details p {
    margin: 5px 0;
    font-size: 11.5px; /* Tamaño de fuente para ExpenseName */
}

.minor-expense .details .date {
    font-size: 10px; /* Tamaño de fuente para ExpenseDate */
}

.minor-expense .amount {
    text-align: right;
    font-weight: bold;
    font-size: 24.64px;
    text-align: right;
}
.Minor-expense-container{
    display: flex;
    flex-direction: column;
    width: 675px;
}
