.currency-converter{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 23px; 

}

.minor-expenses select{
    background: none;
    border: 1px solid #363538;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 5px;
    width: 73px;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: -0.56px;
    margin-left: 55px;
}

@media (max-width: 430px) {
    .sidebar {
        display: none;
    }

    .currency-converter {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }

    .minor-expenses select {
        display: none; /* Esto lo oculta completamente */
    }

    .balance-card {
        width: 100%; 
        height: auto; 
        border-radius: 12px; 
    }
}
