/* IncomesExpenses.css */
.incomes-expenses {
    display: flex;
    gap: 20px;
    color: #333;
    padding: 20px;
    background-color: #F5F5F5;
    flex-direction: column;
    align-items: flex-start;
}
.header-incomesexpenses {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.header h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    
}

.bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%; /* Ajustar el ancho de las barras */
    height: 30px; /* Altura ajustada */
    margin-bottom: 15px;
    border-radius: 15px; /* Bordes redondeados */
}

.incomes-expenses .header-incomesexpenses span {
    background-color: #DCE775; /* Fondo verde claro para el ícono */
    padding: 12px; /* Tamaño ajustado */
    border-radius: 50%;
    font-size: 1.5rem;
}
.not-found {
    color: #888; 
    font-family: 'Poppins';
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0;
}
.recharts-surface{
    position: relative;
    top: -20px;
    transform: rotate(90deg);
}
.incomesexpenses-info{
    position: relative;
    top: -160px;
    left: 250px;
}

#incomes-info{
    margin-bottom: 20px;
}

.rectangle-incomes{
    background-color: #8644DB;
    height: 10px;
    width: 5px;
    border-radius: 10px;
}

.rectangle-expenses{
    background-color: #eFd5D2;
    height: 10px;
    width: 5px;
    border-radius: 10px;
}