.chart-container{
    display: flex;
    flex-direction: column;
    margin-top: -550px;
    margin-left: 342px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 28px;
    background-color: #ffffff;
    width: 699px;
    height: 361px;
    
}
.chart-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 35px;
    margin-top: 4px;
}
.chart-header h2{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.731px; /* 120.729% */
    letter-spacing: -0.72px;
    margin-left: 0%;
    margin-top: 0%;
}

.chart-header p{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */;
    margin-left: 0%;
}